.sidebar_chat{
    display: flex;
    
    padding: 20px;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
    align-items: center;


}

.sidebar_chat:hover{
    background-color: lightblue;
    color: white
}


.sidebar_chatinfo{
    padding-left: 10px;
    flex:1;
    position: relative;
}

.sidebar_chatinfo > small {
    position: absolute;
    top: 10px;
    right: 0px;
    color: gray;
}